<html>
<head>
    {% block includes %}    
    
    {% endblock %}
    
    <title>{% block titulo %}Curso School of Net - SILEX{% endblock %}</title>
</head>
<body>

{% block conteudo %}    

{% endblock %}

</body>
</html>